.container {
    width: 90%;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
}

#header {
    background: url("../img/Rectangle.png") no-repeat center/cover;
    min-height: 100vh;
    height: 782px;
    padding: 0 0 43px 0;
}

.header {
    padding: 50px 0 0 0;
    position: relative;
}

.img1 {
    width: 30px;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 445px;
}

.header-img {
    display: flex;
    justify-content: space-between;
    width: 180px;

}

.select {
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.RUS {
    color: #ffffff;
}

.header-rad {
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

.text2 {
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    display: flex;
    margin: auto;
    color: #FFFFFF;
    justify-content: center;
    padding: 200px 0 0 0;

}

.btn2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 0 20px;
}

.cloud {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    width: 170px;
}

.heroMEnu {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.textP {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px 0 80px 0;
}

.btn3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn3-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ED4C5C;
    padding: 10px 30px;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
}

#hero {
    background: #FFFFFF;
}

.textH {
    padding: 0 0 40px 0;
}

.know {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ED4C5C;
}

.heroTExt {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    padding: 0 0 40px 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    width: 1100px;
    align-items: flex-end;
}

.play {
    font-family: 'Segoe MDL2 Assets', sans-serif;
    padding: 25px 27px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    background: #ED4C5C;
    color: #FFFFFF;
    border: none;
}

.play1 {
    position: absolute;
    top: 1023px;
    left: 700px;
    background: none;
    border: none;
}

.img2 {
    position: relative;
}

.features-text {
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.features {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px 0;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #000000;

}

.photo {
    position: absolute;
    left: 73px;
    margin-top: 140px;
}

.header-block23 {
    display: flex;
    justify-content: space-between;
}

#hero3 {
    background: #FAFAFA;
}

.hero-images {
    display: flex;
    justify-content: center;
}

.hero3-texts {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 293px;
    height: 198px;
    text-align: center;
    top: 1785px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero3 {

}

.footer-img {
    height: 250px;
}

.hero3-read{
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #ED4C5C;
}

.hero3-supports{
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #101010;
}

.raid{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #101010;
    padding: 20px 0;

}